body{
    background-color: #151515;
    color: aliceblue;
    font-family: "Josefin Sans";
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}
.siteName{
    font-size: 28pt;
    margin-top:20px;
    margin-bottom: 5px;
}
.siteDesc{
    opacity: .3;
    font-size: 12pt;
    margin-top:5px;
    margin-bottom: 20px;
}
.siteOwner
{
    opacity: .3;
    font-size: 12pt;
    margin-top:5px;
    margin-bottom: 20px; 
    color: aliceblue;
}
hr{
    opacity: .2;
    margin-top:5px;
    margin-bottom: 12px;
}
.hide{
    display: none;
}
.show{
    display: inline;
}
.optionName{
    font-size: 13pt;
    cursor: pointer;
    margin-top:15px;
}
.subOptionsContainer{
    margin-left: 0px;
    margin-top:10px;
    margin-bottom: 20px;
}
.subSection{
    margin-left: 0px;
    margin-bottom:10px;
}
.subDesc{
    margin-top: 5px;
    opacity: .4;
}
.subValue
{
    margin-left:32px;
    margin-top:5px;
    width: 280px;
    background: #151515;
    border:1px solid aliceblue;
    height:25px;
}
.requiredValue
{
    margin-left:12px;
    margin-top:5px;
    width: 280px;
    background: #151515;
    border:1px solid aliceblue;
    height:25px;
}
input{
    background: #151515;border:1px solid aliceblue;color: aliceblue;
    padding-inline-start: 5px;
}
textarea{
    padding-inline-start: 5px; 
}
.subOptionName{
    margin-left: 5px;
    
}
.highlight{
    color: #6699cc;
}
.aksCommandsContainer{
    margin-top:10px;
}
ul {
    position: relative;
    list-style: none;
    padding-left: 1em;
}
ul li:before {
    content: ">";
    position: absolute;
    font-size: 12pt;
    left: 0px;
    color:#6699cc;
    opacity: .75;
}
.aksCommands{
    width:99%;
    background: #151515;
    color: aliceblue;
    border:1px solid rgba(240, 248, 255, 0.536);
    font-size: 10pt;
}
.steps{
    font-size:16pt;
    margin-bottom: 15px;
    margin-top: 20px;
    color: #6699cc;
}
.indentSteps
{
    margin-left:25px;
}
.tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
  button{
    width:88px;background: #151515;color: aliceblue;border:1px solid aliceblue;height:25px;
  }